.title {
  text-align: center;
  color: white;
}

.body {
  /* background-image: url("/image/map-bg.png"); */
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  text-align: center;
}

.map {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h5,
p {
  font-family: "Segoe UI", Arial, sans-serif;
}